@model GearEditViewModel

<div class="form-group">
    @Html.EditorFor(m => m.DocId)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Source, new { @class = "control-label" })
    @Html.EditorFor(m => m.Source, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Source)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Category, new { @class = "control-label" })
    @Html.EditorFor(m => m.Category, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Category)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "control-label" })
    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Name)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.EnglishName, new { @class = "control-label" })
    @Html.EditorFor(m => m.EnglishName, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.EnglishName)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.SubCategory, new { @class = "control-label" })
    @Html.EditorFor(m => m.SubCategory, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.SubCategory)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Price, new { @class = "control-label" })
    @Html.EditorFor(m => m.Price, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Price)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Weight, new { @class = "control-label" })
    @Html.EditorFor(m => m.Weight, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Weight)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "control-label" })
    @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Description)
</div>